/node_modules/
.DS_Store
/dist/
dist-ssr
*.local
.idea
/db/converted/
/data/*.db
/data/*.log
/data/upload/*
/db/*.db
/data/kuma.db-shm
/data/kuma.db-wal
/data/plugins/smtp-monitor/node_modules
/data/plugins/smtp-monitor/services/AAD.json
/data/plugins/smtp-monitor/services/graph_message.json
!/data/.gitkeep
.vscode
/microsoft-authentication-library-for-js
/private
/out
/tmp
.env

certificate.crt

cypress/videos
cypress/screenshots

/extra/healthcheck.exe
/extra/healthcheck
/extra/healthcheck-armv7

extra/exe-builder/bin
extra/exe-builder/obj

docker/