node_modules
.DS_Store
dist
dist-ssr
*.local
.idea

/data/upload/
/data/error.log
/data/kuma.db
/db/*.db
/data/plugins/smtp-monitor/node_modules
/data/plugins/smtp-monitor/services/*.json
!/data/.gitkeep
.vscode
/microsoft-authentication-library-for-js
/private
/out
/tmp
.env

certificate.crt

cypress/videos
cypress/screenshots

/extra/healthcheck.exe
/extra/healthcheck
/extra/healthcheck-armv7

extra/exe-builder/bin
extra/exe-builder/obj

docker/