DATABASE_NAME="dbname"
DATABASE_HOST="dbserver"
DATABASE_PORT=5432
DATABASE_USER="postgres"
DATABASE_PASS=""
SQL_LOG="1"
DEV_DEBUG="1"
DATA_DIR="./data/"
TZ="UTC"
TEST_MAILBOX="mailbox_for_sending_to_with_smtp_monitor"
TEST_SMTP_SERVER="relay_server"
TEST_SMTP_SERVER_PORT=25